.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin-right: 20px;
  margin-left: auto;
}

.tagline {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tagline2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Styling for each post in theposts section */
.post {
  background-color: rgba(0, 0, 0, 0.35); /* Semi-transparent black background */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #FFFFFF; /* White text for better readability on dark background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for 3D effect */
  transition: transform 0.2s; /* Smooth transform effect on hover */

  /* Add any additional styling for each post */
}

/* Styling for the title of each post in the recent-posts section */
.post-title {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  /* Add any additional styling for the title */
}

/* Styling for the content of each post in the recent-posts section */
.post-content {
  font-size: large;
  /* Add any additional styling for the content */
}

/* Styling for the metadata of each post in the recent-posts section */
.post-metadata {
  font-size: 12px;
  color: #888;
  /* Add any additional styling for the metadata */
}

.main-content {
  width: 50%;
  /* Add any additional styling for the main content */
}

.sidebar {
  width: 50%;
  margin-left: auto;
  margin-right: 50px;
  /* Add any additional styling for the recent posts section */
}
