* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 #000;
}

.nav ul {
    padding: 0;
    margin-right: 10%;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li:hover {
    text-decoration: underline;
    
}

.nav li2 {
    list-style: none;
    margin-left: 10%;

    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    color:#ff7700;
}

.nav li2:hover {
    text-decoration: underline;
}


.title {
    margin-top: 1%;
    margin-left: 0;
    align-items: center;  
    margin-left: 10%;  
}

/* REFERENCE FOR HOVER: https://thebrandsmen.com/css-image-hover-effects/ */
.grow img{
    transition: 1s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
