body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.aboutUsText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  padding-inline: 20px;
}
